:root {
  --ff: "Mulish", sans-serif;
  --ff-title: "Montserrat", sans-serif;

  --bg: #ffffff;
  --white: #fff;

  --color-title: #001a49;
  --f-title: normal 700 46rem/121.739% var(--ff-title);
  --f-title-primary: normal 700 60rem/113.333% var(--ff-title);

  --color-desc: #4f596a;
  --f-desc: normal 400 20rem/150% var(--ff);

  --f-title-stat: normal 700 40rem/125% var(--ff-title);

  --f-title-accordion: normal 700 20rem/120% var(--ff-title);
  --f-desc-accordion: normal 400 16rem/162.5% var(--ff);

  --f-title-plan: normal 700 24rem/100% var(--ff-title);
  --f-desc-plan: normal 400 16rem/150% var(--ff);

  --f-btn-plan: normal 600 16rem / normal var(--ff);

  --transition: 0.2s all ease-in-out;
  --transform-img: scale(1.2);

  --gradient-primary: linear-gradient(44deg, #cd10ff 15.75%, #9f06ff 84.63%);
  --gradient-circle: linear-gradient(36deg, #ffd7a9 9.11%, #ffae70 71.64%);

    --bg-gradient-item-plan: linear-gradient(
    44deg,
    rgba(205, 16, 255, 0.05) 15.75%,
    rgba(159, 6, 255, 0.05) 84.63%
  );

  --bg-item-swiper: rgba(76, 0, 112, 0.2);
  --c-border-line: #8639b5;
  --c-hover-txt: #9F07FF;
}

@include desktop-small {
  :root {
    --f-title: normal 700 38rem/121.739% var(--ff-title);
    --f-title-primary: normal 700 52rem/113.333% var(--ff-title);
    --f-desc: normal 400 18rem/150% var(--ff);
    --f-title-stat: normal 700 36rem/125% var(--ff-title);
    --f-title-accordion: normal 700 18rem/120% var(--ff-title);
    --f-desc-accordion: normal 400 15rem/162.5% var(--ff);
    --f-title-plan: normal 700 22rem/100% var(--ff-title);
    --f-desc-plan: normal 400 15rem/150% var(--ff);
    --f-btn-plan: normal 600 15rem / normal var(--ff);
  }
}

@include tablet-small {
  :root {
    --f-title: normal 700 34rem/121.739% var(--ff-title);
    --f-title-primary: normal 700 44rem/113.333% var(--ff-title);
    --f-desc: normal 400 16rem/150% var(--ff);
    --f-title-stat: normal 700 32rem/125% var(--ff-title);
    --f-title-accordion: normal 700 16rem/120% var(--ff-title);
    --f-desc-accordion: normal 400 14rem/162.5% var(--ff);
    --f-title-plan: normal 700 20rem/100% var(--ff-title);
    --f-desc-plan: normal 400 14rem/150% var(--ff);
    --f-btn-plan: normal 600 14rem / normal var(--ff);
  }
}
